body {
    background-color: rgb(52, 95, 163) ;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(245, 243, 225);
    font-size: 40px;
    background-color: rgb(45, 84, 122);
    padding: 1.5em;
}

#book-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#btn {
    padding: 10px;
    margin: 10px;
    color:black;
    font-weight: bold;
    background-color:forestgreen;
    border-radius: 50px;
    border-style: solid;
}

#newBook {
    display: grid;
    margin: 10px;
    padding: 1.5em;
    
}