

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

#book-container {
    display: grid;
    background-color: aqua;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

#btn {
    padding: 10px;
    margin: 10px;
    color:black;
    font-weight: bold;
    background-color:forestgreen;
    border-radius: 50px;
    border-style: solid;
}

#newBook {
    display: grid;
    background-color:bisque;
    margin: 10px;
}